-e git+https://github.com/facebookresearch/AnimatedDrawings.git@981283a5a98905acabca25f707888a3eec47307e#egg=animated_drawings
Flask==2.3.2
future==1.0.0
glfw==2.5.5
imageio==2.34.2
moviepy==1.0.3
numpy==1.24.4
opencv-python==4.6.0.66
Pillow==10.1.0
PyOpenGL==3.1.6
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.10.0
Shapely==1.8.5.post1
torchserve==0.7.0
tqdm==4.66.3
urllib3==2.2.2
Werkzeug==3.0.3
gunicorn