-e git+https://github.com/facebookresearch/AnimatedDrawings.git@981283a5a98905acabca25f707888a3eec47307e#egg=animated_drawings
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Flask==2.3.2
future==1.0.0
glfw==2.5.5
idna==3.7
imageio==2.34.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
networkx==2.8.8
numpy==1.24.4
opencv-python==4.6.0.66
packaging==24.1
Pillow==10.1.0
psutil==6.0.0
PyOpenGL==3.1.6
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.10.0
Shapely==1.8.5.post1
threadpoolctl==3.5.0
tifffile==2023.4.12
torchserve==0.7.0
tqdm==4.66.3
urllib3==2.2.2
Werkzeug==3.0.3
